@import '../../variables.styl'

.game-task-wrapper
  width 500px
  text-align center

  .task
    font-size 23px
    font-weight 300
    margin 0

  .task-country
    font-size 36px
    color $header-task-color