@import "../../variables.styl"

.guess-country-wrapper

  .navbar
    color #fff
    background-color $header-bg-color
    border-radius 0
    border none
    margin 0
    position fixed
    top 0
    left 0
    z-index 1
    border-radius 5px

    .navbar-brand
      height auto
      padding: 39px 0 39px 61px

    .socials
      display inline-block
      padding 52px 41px

    .find-country-wrapper
      position absolute
      left 50%
      top 27px
      margin-left -250px

    .counter-wrapper
      float right
      display inline-block
      margin-right 20px
      margin-top 35px

