.guess-country-wrapper
    nav.navbar
        .container-fluid
            .navbar-header
            game-progress.counter-wrapper
        game-task.find-country-wrapper
    div.content(ui-view="")
        div slider



