.globe-wrapper
    .globe
    .zoom_control
        .zoom_in(ng-click='globeCtrl.zoomIn()') +
        .zoom_out(ng-click='globeCtrl.zoomOut()') -
    .country-list-container
        .country-list-inner-container
            ul.country-list
                li.country-list-item(ng-repeat="country in globeCtrl.countryCodes" ng-attr-data-country="{{country.code}}" draggable-flag="country")
                    span.flag-icon(ng-class="'flag-icon-' + country.code")
                        p {{country.name}}